! URxvt*termName:                       string
! URxvt*geometry:                       geometry
! URxvt*chdir:                          string
! URxvt*reverseVideo:                   boolean
! URxvt*loginShell:                     boolean
! URxvt*jumpScroll:                     boolean
! URxvt*skipScroll:                     boolean
! URxvt*pastableTabs:                   boolean
! URxvt*scrollstyle:                    mode
! URxvt*scrollBar:                      boolean
! URxvt*scrollBar_right:                boolean
! URxvt*scrollBar_floating:             boolean
! URxvt*scrollBar_align:                mode
! URxvt*thickness:                      number
! URxvt*scrollTtyOutput:                boolean
! URxvt*scrollTtyKeypress:              boolean
! URxvt*scrollWithBuffer:               boolean
! URxvt*inheritPixmap:                  boolean
! URxvt*transparent:                    boolean
! URxvt*tintColor:                      color
! URxvt*shading:                        number
! URxvt*blurRadius:                     HxV
! URxvt*fading:                         number
! URxvt*fadeColor:                      color
! URxvt*utmpInhibit:                    boolean
! URxvt*urgentOnBell:                   boolean
! URxvt*visualBell:                     boolean
! URxvt*mapAlert:                       boolean
! URxvt*meta8:                          boolean
! URxvt*mouseWheelScrollPage:           boolean
! URxvt*tripleclickwords:               boolean
! URxvt*insecure:                       boolean
! URxvt*cursorUnderline:                boolean
! URxvt*cursorBlink:                    boolean
! URxvt*pointerBlank:                   boolean
! URxvt*background:                     color
! URxvt*foreground:                     color
! URxvt*color0:                         color
! URxvt*color1:                         color
! URxvt*color2:                         color
! URxvt*color3:                         color
! URxvt*color4:                         color
! URxvt*color5:                         color
! URxvt*color6:                         color
! URxvt*color7:                         color
! URxvt*color8:                         color
! URxvt*color9:                         color
! URxvt*color10:                        color
! URxvt*color11:                        color
! URxvt*color12:                        color
! URxvt*color13:                        color
! URxvt*color14:                        color
! URxvt*color15:                        color
! URxvt*colorBD:                        color
! URxvt*colorIT:                        color
! URxvt*colorUL:                        color
! URxvt*colorRV:                        color
! URxvt*underlineColor:                 color
! URxvt*scrollColor:                    color
! URxvt*troughColor:                    color
! URxvt*highlightColor:                 color
! URxvt*highlightTextColor:             color
! URxvt*cursorColor:                    color
! URxvt*cursorColor2:                   color
! URxvt*pointerColor:                   color
! URxvt*pointerColor2:                  color
! URxvt*borderColor:                    color
! URxvt*iconFile:                       file
! URxvt*font:                           fontname
! URxvt*boldFont:                       fontname
! URxvt*italicFont:                     fontname
! URxvt*boldItalicFont:                 fontname
! URxvt*intensityStyles:                boolean
! URxvt*inputMethod:                    name
! URxvt*preeditType:                    style
! URxvt*imLocale:                       string
! URxvt*imFont:                         fontname
! URxvt*title:                          string
! URxvt*iconName:                       string
! URxvt*saveLines:                      number
! URxvt*buffered:                       boolean
! URxvt*depth:                          number
! URxvt*visual:                         number
! URxvt*transient-for:                  windowid
! URxvt*override-redirect:              boolean
! URxvt*hold:                           boolean
! URxvt*externalBorder:                 number
! URxvt*internalBorder:                 number
! URxvt*borderLess:                     boolean
! URxvt*lineSpace:                      number
! URxvt*letterSpace:                    number
! URxvt*skipBuiltinGlyphs:              boolean
! URxvt*pointerBlankDelay:              number
! URxvt*backspacekey:                   string
! URxvt*deletekey:                      string
! URxvt*print-pipe:                     string
! URxvt*modifier:                       modifier
! URxvt*cutchars:                       string
! URxvt*answerbackString:               string
! URxvt*secondaryScreen:                boolean
! URxvt*secondaryScroll:                boolean
! URxvt*perl-lib:                       string
! URxvt*perl-eval:                      perl-eval
! URxvt*perl-ext-common:                string
! URxvt*perl-ext:                       string
! URxvt*iso14755:                       boolean
! URxvt*iso14755_52:                    boolean
! URxvt*xrm:                            string
! URxvt*keysym.sym:                     keysym
! URxvt*background.border:              boolean
! URxvt*background.expr:                string
! URxvt*background.interval:            seconds
! URxvt*bell-command:                   string
! URxvt*matcher.button:                 string
! URxvt*matcher.launcher:               string
! URxvt*matcher.launcher.*:             string
! URxvt*matcher.pattern.*:              string
! URxvt*matcher.rend.*:                 string
! URxvt*remote-clipboard.fetch:         string
! URxvt*remote-clipboard.store:         string
! URxvt*searchable-scrollback:          string
! URxvt*selection-autotransform.*:      string
! URxvt*selection-pastebin.cmd:         string
! URxvt*selection-pastebin.url:         string
! URxvt*selection.pattern-0:            string
! URxvt*tab-bg:                         colour
! URxvt*tab-fg:                         colour
! URxvt*tabbar-bg:                      colour
! URxvt*tabbar-fg:                      colour
! URxvt*url-launcher:                   string

! calm by dkeg

*foreground:  #adb7c1
*background: #1a1b1d

*color0: #1d1f21
*color1: #ab6548
*color2: #88aa55
*color3: #8e6b23
*color4: #446688
*color5: #f9f9f9
*color6: #558888
*color7: #aabbcc
*color8: #445566
*color9: #dd7777
*color10: #bbdd88
*color11: #ccb05f
*color12: #7799bb
*color13: #abacae
*color14: #88bbbb
*color15: #ddeeff

URxvt*scrollBar: false

*font: xft:monospace:size=12
