[user]
    name = Ham Vocke
    email = ham@hamvocke.com

[init]
    defaultBranch = main

[alias]
    c = commit -v
    co = checkout
    cob = checkout -b
    s = status
    br = branch
    d = diff
    dd = diff --cached`
    l = git log --oneline --graph
    cp = cherry-pick
    ps = push
    pl = pull
    pb = pull --rebase

[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    line-numbers = true
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
