# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

[package]
disabled = true

[docker_context]
disabled = true

[ruby]
disabled = true
